@-webkit-keyframes pulse {
     from {
         -webkit-transform: scale(1);
         transform: scale(1);
    }
     50% {
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
    }
     100% {
         -webkit-transform: scale(1);
         transform: scale(1);
    }
}
 @-moz-keyframes pulse {
     from {
         -moz-transform: scale(1);
         transform: scale(1);
    }
     50% {
         -moz-transform: scale(1.2);
         transform: scale(1.2);
    }
     100% {
         -moz-transform: scale(1);
         transform: scale(1);
    }
}
/* Added in {
     Personal 
}
 for Typed Cursor in Header */
 .typed-cursor{
     opacity: 1;
     -webkit-animation: blink 0.7s infinite;
     -moz-animation: blink 0.7s infinite;
     animation: blink 0.7s infinite;
     font-size: 16px;
     vertical-align: top;
     @media(min-width:768px) {
         font-size: 22px;
    }
}
 @keyframes blink{
     0% {
         opacity:1;
    }
     50% {
         opacity:0;
    }
     100% {
         opacity:1;
    }
}
 @-webkit-keyframes blink{
     0% {
         opacity:1;
    }
     50% {
         opacity:0;
    }
     100% {
         opacity:1;
    }
}
 @-moz-keyframes blink{
     0% {
         opacity:1;
    }
     50% {
         opacity:0;
    }
     100% {
         opacity:1;
    }
}
/* END Added in {
     Personal 
}
 for Typed Cursor in Header */
/* Animation for hand-swipe */
 @-webkit-keyframes swipe {
     from {
         left: 5%;
    }
     to {
         left: -5%;
    }
}
 @-moz-keyframes swipe {
     from {
         left: 5%;
    }
     to {
         left: -5%;
    }
}
/* END Animation for hand-swipe */

 @keyframes fadeIn {
     from {
         opacity: 0;
    }
     to {
         opacity: 1;
    }
}
 @keyframes fadeOut {
     from {
         opacity: 1;
    }
     to {
         opacity: 0;
    }
}