# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

_site/
.sass-cache/
*.swp
pkg/
test/
_deploy/*
.jekyll-metadata
/.idea/

# Public and private keys
*.p12
*.pem
*.key

# Ignore Git here
.git

# But not these files...
!.gitignore
