[submodule "_plugins/jekyll-paginate-v2"]
	path = _plugins/jekyll-paginate-v2
	url = https://github.com/uta-org/jekyll-paginate-v2.git
[submodule "_plugins/jekyll-patreon"]
	path = _plugins/jekyll-patreon
	url = https://github.com/uta-org/jekyll-patreon.git
[submodule "_plugins/jekyll-language-plugin"]
	path = _plugins/jekyll-language-plugin
	url = https://github.com/uta-org/jekyll-language-plugin.git
# [submodule "_plugins/jekyll-ga-v2"]
# 	path = _plugins/jekyll-ga-v2
# 	url = https://github.com/uta-org/jekyll-ga-v2.git