{% capture section %}
    {% include section-type.html %}
{% endcapture %}

<div class="text-center">
    <h2>{% include title.html %}</h2>
</div>

<div id="intro" class="slider glide">
  <div class="slider__track glide__track" data-glide-el="track">
    <ul class="slider__slides glide__slides">
      
      <li class="slider__frame glide__slide">
          <img src="" alt="">
      </li>
      
    <!---
        <li class="slider__frame glide__slide">0</li>
      
        <li class="slider__frame glide__slide">1</li>
      
        <li class="slider__frame glide__slide">2</li>
      
        <li class="slider__frame glide__slide">3</li>
      
        <li class="slider__frame glide__slide">4</li>
      
        <li class="slider__frame glide__slide">5</li>
      
        <li class="slider__frame glide__slide">6</li>
      
        <li class="slider__frame glide__slide">7</li>
      
        <li class="slider__frame glide__slide">8</li>
      
        <li class="slider__frame glide__slide">9</li>

    -->
      
    </ul>
  </div>

  <div data-glide-el="controls">
    <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"/>
      </svg>
    </button>

    <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
      </svg>
    </button>
  </div>

  <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
    
    <!---

      <button class="slider__bullet glide__bullet" data-glide-dir="=0"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=1"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=2"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=3"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=4"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=5"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=6"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=7"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=8"></button>
    
      <button class="slider__bullet glide__bullet" data-glide-dir="=9"></button>

    -->
    
  </div>
</div>

<br>
<br>