<div class="col-md-3 align-sm-right vertical-margin order-xs-third col-xs-expand">
    <box class="both-offset expand-width">
        <b>Help me to achieve my goal!</b>
        <hr>
        
        {% patreon z3nth10n %}
        <hr>
        .. Or if you prefer a one-time donation:
        <br>
        <p class="donate-button"><a href="https://paypal.me/z3nth10n"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate to z3nth10n!"></a></p>
        <b>Your donations are apreciated!</b>
    </box>
</div>