<div class="col-md-3 align-sm-right vertical-margin order-xs-third col-xs-expand">
    <box class="both-offset expand-width">
        <b>{% t 'goal-help' %}</b>
        <hr>
        
        {% patreon %}
        <hr>
        {% t 'one-time-donation' %}
        <br>
        <p class="donate-button"><a href="https://paypal.me/z3nth10n"><img src="https://www.paypalobjects.com/{% t 'donation-code' %}/i/btn/btn_donateCC_LG.gif" alt="Donate to z3nth10n!"></a></p>
        <b>{% t 'appreciated-donations' %}</b>
    </box>
</div>