
<!-- Themes -->

<div class="themes">
    <div>
        <button class="js-theme-button" data-theme="default"></button>
        <button class="js-theme-button" data-theme="light"></button>
        <button class="js-theme-button" data-theme="dark"></button>
        <button class="js-theme-button" data-theme="dark-blue"></button>
        <button class="js-theme-button" data-theme="dark-orange"></button>
        <button class="js-theme-button" data-theme="dark-red"></button>
        <button class="js-theme-button" data-theme="dark-green"></button>
        <button class="js-theme-button" data-theme="dark-olive-green"></button>
        <button class="js-theme-button" data-theme="dark-cyan"></button>
        <button class="js-theme-button" data-theme="dark-turquoise"></button>
        <button class="js-theme-button" data-theme="flower-blue"></button>
        <button class="js-theme-button" data-theme="dark-flower-blue"></button>
        <button class="js-theme-button" data-theme="sand"></button>
        <button class="js-theme-button" data-theme="dark-purple"></button>
        <button class="js-theme-button" data-theme="light-purple"></button>
        <button class="js-theme-button" data-theme="light-pink"></button>
        <button class="js-theme-button" data-theme="_pink"></button>
        <button class="js-theme-button" data-theme="lilac"></button>
    </div>
</div>

<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 intro-text-container">
                        <h5 class="v-spacing">&nbsp;</h5>
                        <h5 class="v-spacing">&nbsp;</h5>
                        <span class="intro-text">{{ content }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="page-scroll avatar-big">
                            {% include avatar.html %}
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-10 intro-header">
                        <p>
                            <h2>{% t 'introduction-header' %}</h2>
                        </p>
                        <p>
                            {% t 'introduction' %}
                        </p>
                    </div>
                </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</header>

<div class="issue-report">
    {% t 'report-issue' %}
</div>

<!-- Intro End -->
