
<!-- Themes -->

<div class="themes">
    <div>
        <span class="js-theme-button" data-theme="default"></span>
        <span class="js-theme-button" data-theme="light"></span>
        <span class="js-theme-button" data-theme="dark"></span>
        <span class="js-theme-button" data-theme="dark-blue"></span>
        <span class="js-theme-button" data-theme="dark-orange"></span>
        <span class="js-theme-button" data-theme="dark-red"></span>
        <span class="js-theme-button" data-theme="dark-green"></span>
        <span class="js-theme-button" data-theme="dark-yellow"></span>
        <span class="js-theme-button" data-theme="dark-olive-green"></span>
        <span class="js-theme-button" data-theme="dark-cyan"></span>
        <span class="js-theme-button" data-theme="dark-turquoise"></span>
        <span class="js-theme-button" data-theme="flower-blue"></span>
        <span class="js-theme-button" data-theme="dark-flower-blue"></span>
        <span class="js-theme-button" data-theme="sand"></span>
        <span class="js-theme-button" data-theme="dark-purple"></span>
        <span class="js-theme-button" data-theme="light-purple"></span>
        <span class="js-theme-button" data-theme="light-pink"></span>
        <span class="js-theme-button" data-theme="_pink"></span>
        <span class="js-theme-button" data-theme="lilac"></span>
        <span class="js-theme-button" data-theme="_brown"></span>
        <span class="js-theme-button" data-theme="light-orange"></span>
        <span class="js-theme-button" data-theme="light-red"></span>
        <span class="js-theme-button" data-theme="light-green"></span>
        <span class="js-theme-button" data-theme="light-yellow"></span>
        <span class="js-theme-button" data-theme="light-olive-green"></span>
        <span class="js-theme-button" data-theme="light-cyan"></span>
        <span class="js-theme-button" data-theme="light-turquoise"></span>
        <span class="js-theme-button" data-theme="_salmon"></span>
        <span class="js-theme-button" data-theme="_gray"></span>
    </div>
</div>

<!-- Intro Start -->

<div class="popup popup-green popup-dserver popup-hide">
    {% t 'dedicated-server-offer' %}
</div>

<header class="intro">
  <div class="intro-body">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 intro-text-container">
                        <span class="intro-text">{{ content }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="page-scroll avatar-big">
                            {% include avatar.html %}
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-10 intro-header">
                        <p>
                            <h2>{% t 'introduction-header' %}</h2>
                        </p>
                        <p>
                            {% t 'introduction' %}
                        </p>
                    </div>
                </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</header>

<div class="popup popup-red">
    {% t 'report-issue' %}
</div>

<!-- Intro End -->
