<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang='{{ page.language }}'>

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}
    
    {% capture pagelist %}
        {% t 'pages_list' %}
    {% endcapture %}
    
    {% for p in pagelist %}
      {% assign innerindex=forloop.index0 %}
      {% capture findex %} {{ innerindex }} {% endcapture %}
      
      {% capture pincl %}
          {{ p[1] }}
      {% endcapture%}
      

    {% endfor %}

    {% include footer.html %}

    {% include js.html %}
    
    {% t 'chatango' %}

  </body>
</html>

<!-- Index Layout End -->
