<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang='{{ site.lang }}'>

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}

    {% for p in site.translations[site.lang]['pages_list'] %}
     
      {% assign innerindex=forloop.index0 %}
      
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% capture findex %} {{ innerindex }} {% endcapture %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}
    
    {{ site.translations[site.lang]['chatango'] }}

  </body>
</html>

<!-- Index Layout End -->
