{% capture section %}
    {% include section-type.html %}
{% endcapture %}

<section id="{{ section | strip_newlines | strip }}">
    <div class="container socialmedia">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>{% include title.html %}</h2>
                </div>
            </div>
        </div>
        <div class="row sm-vertical-center">
            <div class="col-sm-12 col-md-6 text-center sm-expand-height">
                <box class="sm-both-offset xs-vertical-offset expand-width-mobile">
                    {% youtube -Aycbij4j5?list=UU9_182JSvrypccfo-OFllUg %}
                </box>
            </div>
            <div class="col-sm-12 col-md-6 top-margin-mobile">
                <box class="text-center expand-width">
                    {% twitter https://twitter.com/z3nth10n maxwidth=500 limit=5 %}
                </box>
            </div>
        </div>
    </div>
</section>