{% capture section %}
    {% include section-type.html %}
{% endcapture %}

<section id="{{ section | strip_newlines | strip }}">
    <div class="container socialmedia">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>{% include title.html %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <box class="sm-both-offset xs-vertical-offset expand-width-mobile">
                    {% youtube -Aycbij4j5?list=UU9_182JSvrypccfo-OFllUg %}
                </box>
            </div>
            <div class="col-md-12 twitter">
                <br>
                <hr>
                <br>
                <div class="text-center expand-width">
                    {% twitter https://twitter.com/z3nth10n maxwidth=500 limit=5 %}
                </div>
            </div>
        </div>
    </div>
</section>