<section id="last-social-media">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{ page.content | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-md-right text-center v-center">
                    {% youtube yFTvbcNhEgc?list=UU9_182JSvrypccfo-OFllUg %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="text-md-left text-center">
                    {% twitter https://twitter.com/z3nth10n maxwidth=500 limit=5 %}
                </div>
            </div>
        </div>
    </div>
</section>