<!-- Latest Posts Preview Start -->

<section id="page" class="container content-section text-center xs-margin-top">

  <div class="row-sm row-xs-flex">
    <div class="col-md-9 order-xs-last"> <!--- col-xs-10 col-xs-offset-1 -->
        
    <!--- {{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }} -->
      
      {{ site.data.languages['en'].icon }}
      
      {{ ":flag_us:" }}
      
      :flag_us:
      
      :hearth:
       
       {% for lng in site.data.languages %}
           {{ lng.label }}
       {% endfor %}
        
    {{ page.content | markdownify }}

    <div>
      {% for post in paginator.posts %}
        {% include post-list.html %}
      {% endfor %}
    </div>

    {% include pagination.html %}       

    </div>
    <div class="col-md-3 order-xs-first col-xs-expand">
        <h2 class="xs-invisible">&nbsp;</h2>
        <box class="horizontal-offset vertical-offset vertical-margin expand-width presentation-sidebar">
            <a href="#{{ site.translations[site.lang]['pages_list']['About'] }}" class="page-scroll avatar-medium">
                {% include avatar.html %}
            </a>
            <p>Álvaro Rodríguez García</p>
            <p class="gray"><b>Hobbyist Developer</b></p>
            <p class="buttons">
                {% include social-buttons.html small-buttons="true" %}
            </p>
            <hr>
            <h4>Categories</h4>
            <p>
                {% for category in site.categories %}
                    {% if forloop.index <= 5 %}
                        <a class="label" href="{{site.baseurl}}/categories/{{ category | first | downcase }}">
                            {{ category | first }}
                        </a>
                    {% endif %}
                {% endfor %}
            </p>
            <hr>
            <h4>Tags</h4>
            <p>
                {% for tag in site.tags %}
                    {% if forloop.index <= 5 %}
                        <a class="label" href="{{site.baseurl}}/tags/{{ tag | first | downcase }}">
                            {{ tag | first }}
                        </a>
                    {% endif %}
                {% endfor %}
            </p>
        </box>
    </div>
  </div>
</section>
    
{% include js-forcehighlight.html %}

<!-- Latest Posts Preview End -->