<!-- Latest Posts Preview Start -->

{% capture section %}
    {% include section-type.html %}
{% endcapture %}

<section id="{{ section | strip_newlines | strip }}" class="container content-section text-center xs-margin-top">

  <div class="row-sm row-xs-flex">
    <div class="col-md-9 order-xs-second">
        
    <h2>{% include title.html %}</h2>
    
    <div>
      {% if paginator.total_posts > 0 %}
          {% for post in paginator.posts %}
            {% include post-list.html %}
          {% endfor %}
      {% else %}
          {% include empty-post-list.html %}
      {% endif %}
    </div>

    {% include pagination.html %}
   
    </div>
    
    {% include presentation.html %}
    {% include donations.html %}
    
  </div>
</section>
    
{% include js-forcehighlight.html %}

<!-- Latest Posts Preview End -->