<!-- Post List End -->

{% capture section %}
    {% include section-type.html %}
{% endcapture %}

<section id="{{ section | strip_newlines | strip }}">
    <div class="row">
      <box class="col-md-12 vertical-offset">

        {% assign post = site.posts.first %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.categories.first | downcase}}.html">
              {{ post.categories.first }}
            </a>
            
            {% if post.categories.first and post.categories.size == 0 or post.categories.first != true and post.categories == blank %}
                {% t 'uncat' %}
            {% endif %}
          .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url | remove: '.html' }}">{{post.title}} </a> </strong>
          <small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread"><span data-disqus-url="{{site.mainurl}}{{post.url}}" class="count-comments"></span></a></small>
        </h4>

        <section class="text-left">
          {{ post.content | markdownify | truncatehtml: site.post-preview-words }}
        </section>

      </box>
    </div>
</section>
