<!-- Post List End -->

<section id="{{ page.section-type }}">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {% assign post = site.posts.first %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
          .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
        </h4>

        <section class="text-left">
          {{ post.content | markdownify | | truncatehtml: site.post-preview-words }} <!--- | strip_html | truncatewords: site.post-preview-words -->
        </section>

      </div>
    </div>
</section>
