<!-- Social Buttons Start -->

<ul class="list-inline social-buttons {% if include.small-buttons != blank %}small-social-icons{% endif %}">
    {% for network in site.social %}
    <li>
        <a href="{{ network.url }}" target="_blank"><i class="{%if network.custom-class != blank %} {{ network.custom-class }} {% else %} fab {% endif %} fa-{{ network.title }} fa-fw"></i></a>
    </li>
    {% endfor %}
    {% if site.keybase-in-social %}
    <li>
        <a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i class="fas fa-key fa-fw"></i></a>
    </li>
    {% endif %}
</ul>

<!-- Social Buttons End -->
