@import "bootstrap/functions";
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities/text';

// Variables

// Main color
/*$primary-color: rgb(47, 31, 31);
$light-primary-color: #b84d45;

// Anchor color
$secondary-color: #00cdff;

// Cards and main layout colors
$box-color: #292F33;

// Only cards colors
$cards-general-text-color: #bbb;
$cards-text-color: white;
$cards-strong-color: #ddd;

// Font color
$font-color: #fff;*/

@import "default-variables";

// Color themes for grayscale and timeline sass files
// $primary-color, $secondary-color, $light-primary-color, $box-color, $font-color
$color-scheme: (
    (default,          $primary-color,               $secondary-color, $light-primary-color,          $box-color,            $font-color),
    (light,            white,                        gray,             #bbb,                          #ccc,                  #000),
    (dark,             black,                        #00cdff,          gray,                          #333,                  white),
    (dark-blue,        #000033,                      #000099,          #0000bb,                       rgba(0, 0, 128, .5),   white),
    (dark-orange,      rgb(128, 64, 0),              white,            rgb(160, 80, 0),               rgba(255, 128, 0, .5), black),
    (dark-red,         darken(darkred,         15%), darkred,          lighten(darkred,         15%), darkred,               white),
    (dark-green,       darken(darkgreen,       15%), darkgreen,        lighten(darkgreen,       15%), darkgreen,             white),
    (dark-olive-green, darken(darkolivegreen,  15%), darkolivegreen,   lighten(darkolivegreen,  15%), darkolivegreen,        white),
    (dark-cyan,        darken(darkcyan,        15%), darkcyan,         lighten(darkcyan,        15%), darkcyan,              white),
    (dark-turquoise,   darken(darkturquoise,   15%), darkturquoise,    lighten(darkturquoise,   15%), darkturquoise,         white),
    (flower-blue,      darken(cornflowerblue,  15%), cornflowerblue,   lighten(cornflowerblue,  15%), cornflowerblue,        black),
    (dark-flower-blue, darken(royalblue,       15%), royalblue,        lighten(royalblue,       15%), royalblue,             black),
    (sand,             darken(sandybrown,      15%), sandybrown,       lighten(sandybrown,      15%), sandybrown,            black),
    (dark-purple,      darken(indigo,          15%), indigo,           lighten(indigo,          15%), indigo,                white),
    (light-purple,     darken(mediumslateblue, 15%), mediumslateblue,  lighten(mediumslateblue, 15%), mediumslateblue,       black),
    (light-pink,       darken(lightpink,       15%), lightpink,        lighten(lightpink,       15%), lightpink,             black),
    (_pink,            darken(pink,            15%), pink,             lighten(pink,            15%), pink,                  black),
    (lilac,            darken(mediumpurple,    15%), mediumpurple,     lighten(mediumpurple,    15%), mediumpurple,          black)
    
);

// Color themes for cards
// $box-color, $cards-general-text-color, $cards-strong-color

$cards-color-scheme: (
    (default,          $box-color, $cards-general-text-color, $cards-strong-color),
    (light,            #ccc,                           black,                #ddd),
    (dark,             #333,                           white,                #aaa),
    (dark-blue,        rgba(0, 0, 128, .5),            white,                #ddd),
    (dark-orange,      rgba(255, 128, 0, .5),          white,                #ddd),
    (dark-red,         darkred,                        white,                #ddd),
    (dark-green,       darkgreen,                      white,                #ddd),
    (dark-olive-green, darkolivegreen,                 white,                #ddd),
    (dark-cyan,        darkcyan,                       white,                #ddd),
    (dark-turquoise,   darkturquoise,                  white,                #ddd),
    (flower-blue,      cornflowerblue,                 black,                #333),
    (dark-flower-blue, royalblue,                      black,                #333),
    (sand,             sandybrown,                     black,                #333),
    (dark-purple,      indigo,                         white,                #ddd),
    (light-purple,     mediumslateblue,                black,                #333),
    (light-pink,       lightpink,                      black,                #333),
    (_pink,            pink,                           black,                #333),
    (lilac,            mediumpurple,                   black,                #333)
);