@import "bootstrap/functions";
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities/text';

// Variables

// Main color
/*$primary-color: rgb(47, 31, 31);
$light-primary-color: #b84d45;

// Anchor color
$secondary-color: #00cdff;

// Cards and main layout colors
$box-color: #292F33;

// Only cards colors
$cards-general-text-color: #bbb;
$cards-text-color: white;
$cards-strong-color: #ddd;

// Font color
$font-color: #fff;*/

@import "default-variables";

// Color themes for grayscale and timeline sass files
// $primary-color, $secondary-color, $light-primary-color, $box-color, $font-color
$color-scheme: (
    (default,      $primary-color, $secondary-color, $light-primary-color, $box-color,         $font-color),
    (light,        white,          gray,             #bbb,                 #ccc,                      #000),
    (dark,         black,          #00cdff,          gray,                 #333,                     white),
    (dark-blue,    #000033,        #000099,          #0000bb,              rgba(0, 0, 128, .5),      white),
    (dark-orange,      rgb(128, 64, 0),        white,            rgb(160, 80, 0),               rgba(255, 128, 0, .5),    black),
    (dark-red,     darken(darkred, 15%),  lighten(darkred, 10%),         lighten(darkred, 20%),                   darkred,            white),
    (dark-green, darken(darkgreen, 15%), lighten(darkgreen, 10%),          lighten(darkgreen, 20%),                 darkgreen,          white),
    (dark-olive-green, darken(darkolivegreen, 15%), lighten(darkolivegreen, 10%), lighten(darkolivegreen, 20%), darkolivegreen, white)
    /*(dark-cyan, ),
    (dark-turquoise, ),
    (flower-blue, ),
    (dark-flower-blue, ),
    (sand, ),
    (dark-purple, ),
    (light-purple, ),
    (light-pink, ),
    (_pink, ),
    (lilac, )*/
    
);

// Color themes for cards
// $box-color, $cards-general-text-color, $cards-strong-color

$cards-color-scheme: (
    (default,     $box-color, $cards-general-text-color, $cards-strong-color),
    (light,       #ccc,                           black,                #ddd),
    (dark,        #333,                           white,                #aaa),
    (dark-blue,   rgba(0, 0, 128, .5),            white,                #ddd),
    (dark-orange,     rgba(255, 128, 0, .5),          white,                #ddd),
    (dark-red, darkred, white, #ddd),
    (dark-green, darkgreen, white, #ddd),
    (dark-olive-green, darkolivegreen, white, #ddd),
    /*(dark-cyan, ),
    (dark-turquoise, ),
    (flower-blue, ),
    (dark-flower-blue, ),
    (sand, ),
    (dark-purple, ),
    (light-purple, ),
    (light-pink, ),
    (_pink, ),
    (lilac, )*/
);