@import "bootstrap/functions";
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities/text';

// Variables

// Main color
/*$primary-color: rgb(47, 31, 31);
$light-primary-color: #b84d45;

// Anchor color
$secondary-color: #00cdff;

// Cards and main layout colors
$box-color: #292F33;

// Only cards colors
$cards-general-text-color: #bbb;
$cards-text-color: white;
$cards-strong-color: #ddd;

// Font color
$font-color: #fff;*/

@import "default-variables";

$lightolgreen: lighten(olivedrab, 20%);

// Color themes for grayscale and timeline sass files
// $primary-color, $secondary-color, $light-primary-color, $box-color, $font-color
$color-scheme: (
    (default,           $primary-color,               $secondary-color, $light-primary-color,          $box-color,            $font-color),
    (light,             white,                        gray,             #bbb,                          #ccc,                  #000),
    (dark,              black,                        #00cdff,          gray,                          #333,                  white),
    (dark-blue,         #000033,                      #000099,          #0000bb,                       rgba(0, 0, 128, .5),   white),
    (dark-orange,       rgb(128, 64, 0),              white,            rgb(160, 80, 0),               rgba(255, 128, 0, .5), black),
    (dark-red,          darken(darkred,         15%), darkred,          lighten(darkred,         15%), darkred,               white),
    (dark-green,        darken(darkgreen,       15%), darkgreen,        lighten(darkgreen,       15%), darkgreen,             white),
    (dark-yellow,       darken(darkgoldenrod,   15%), darkgoldenrod,    lighten(darkgoldenrod,   15%), darkgoldenrod,         black),
    (dark-olive-green,  darken(darkolivegreen,  15%), darkolivegreen,   lighten(darkolivegreen,  15%), darkolivegreen,        white),
    (dark-cyan,         darken(darkcyan,        15%), darkcyan,         lighten(darkcyan,        15%), darkcyan,              black),
    (dark-turquoise,    darken(darkturquoise,   15%), darkturquoise,    lighten(darkturquoise,   15%), darkturquoise,         black),
    (flower-blue,       darken(cornflowerblue,  15%), cornflowerblue,   lighten(cornflowerblue,  15%), cornflowerblue,        black),
    (dark-flower-blue,  darken(royalblue,       15%), royalblue,        lighten(royalblue,       15%), royalblue,             black),
    (sand,              darken(sandybrown,      15%), sandybrown,       lighten(sandybrown,      15%), sandybrown,            black),
    (dark-purple,       darken(indigo,          15%), indigo,           lighten(indigo,          15%), indigo,                white),
    (light-purple,      darken(mediumslateblue, 15%), mediumslateblue,  lighten(mediumslateblue, 15%), mediumslateblue,       black),
    (light-pink,        darken(lightpink,       15%), lightpink,        lighten(lightpink,       15%), lightpink,             black),
    (_pink,             darken(pink,            15%), pink,             lighten(pink,            15%), pink,                  black),
    (lilac,             darken(mediumpurple,    15%), mediumpurple,     lighten(mediumpurple,    15%), mediumpurple,          black),
    (_brown,            darken(saddlebrown,     15%), saddlebrown,      lighten(saddlebrown,     15%), saddlebrown,           white),
    (light-orange,      darken(goldenrod,       15%), goldenrod,        lighten(goldenrod,       15%), goldenrod,             black),
    (light-red,         darken(indianred,       15%), indianred,        lighten(indianred,       15%), indianred,             black),
    (light-green,       darken(lightgreen,      15%), lightgreen,       lighten(lightgreen,      15%), lightgreen,            black),
    (light-yellow,      darken(khaki,           15%), khaki,            lighten(khaki,           15%), khaki,                 black),
    (light-olive-green, darken($lightolgreen,   15%), $lightolgreen,    lighten($lightolgreen,   15%), $lightolgreen,         black),
    (light-cyan,        darken(lightcyan,       15%), lightcyan,        lighten(lightcyan,       15%), lightcyan,             black),
    (light-turquoise,   darken(paleturquoise,   15%), paleturquoise,    lighten(paleturquoise,   15%), paleturquoise,         black),
    (_salmon,           darken(salmon,          15%), salmon,           lighten(salmon,          15%), salmon,                black),
    (_gray,             darken(gray,            15%), gray,             lighten(gray,            15%), gray,                  black)
);

// Color themes for cards
// $box-color, $cards-general-text-color, $cards-strong-color

$cards-color-scheme: (
    (default,           $box-color, $cards-general-text-color, $cards-strong-color),
    (light,             #ccc,                           black,                #ddd),
    (dark,              #333,                           white,                #aaa),
    (dark-blue,         rgba(0, 0, 128, .5),            white,                #ddd),
    (dark-orange,       rgba(255, 128, 0, .5),          white,                #ddd),
    (dark-red,          darkred,                        white,                #ddd),
    (dark-green,        darkgreen,                      white,                #ddd),
    (dark-yellow,       darkgoldenrod,                  black,                #333),
    (dark-olive-green,  darkolivegreen,                 white,                #ddd),
    (dark-cyan,         darkcyan,                       white,                #333),
    (dark-turquoise,    darkturquoise,                  white,                #333),
    (flower-blue,       cornflowerblue,                 black,                #333),
    (dark-flower-blue,  royalblue,                      black,                #333),
    (sand,              sandybrown,                     black,                #333),
    (dark-purple,       indigo,                         white,                #ddd),
    (light-purple,      mediumslateblue,                black,                #333),
    (light-pink,        lightpink,                      black,                #333),
    (_pink,             pink,                           black,                #333),
    (lilac,             mediumpurple,                   black,                #333),
    (_brown,            saddlebrown,                    white,                #ddd),
    (light-orange,      goldenrod,                      black,                #333),
    (light-red,         indianred,                      black,                #333),
    (light-green,       lightgreen,                     black,                #333),
    (light-yellow,      khaki,                          black,                #333),
    (light-olive-green, $lightolgreen,                  black,                #333),
    (light-cyan,        lightcyan,                      black,                #333),
    (light-turquoise,   paleturquoise,                  black,                #333),
    (_salmon,           salmon,                         black,                #333),
    (_gray,             gray,                           black,                #333)
);