$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $light-primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $primary-color;
$navbar-lg-background: $primary-color;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $light-primary-color;