<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}

    <!--- .translations[site.lang] -->
    {% for p in site['pages_list'] %} 
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
