
<!-- Terms of Service Layout Start -->

<!DOCTYPE html>
<html lang="{{ page.language }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}
    
    <h1 class="brand-heading">&nbsp;</h1>
    <h1 class="brand-heading">&nbsp;</h1>

    <section id="post" class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

         <center>
             <h1>Terms of service</h1>
         </center>
         
         <p>Terms of service for dedicated hosts are the same of Kimsufi servers</p>
        
         <iframe src="https://www.kimsufi.com/en/termsofservice/general_conditions_of_service_kimsufi_servers.pdf" frameborder="0" width="655" height="550" marginheight="0" marginwidth="0" id="pdf"></iframe>
         <br><br>
         <iframe src="https://www.kimsufi.com/en/termsofservice/special_conditions_kimsufi_server_rental.pdf" frameborder="0" width="655" height="550" marginheight="0" marginwidth="0" id="pdf"></iframe>
         <br><br>
         <iframe src="https://www.kimsufi.com/en/termsofservice/version/Data%20Processing%20Agreement.pdf" frameborder="0" width="655" height="550" marginheight="0" marginwidth="0" id="pdf"></iframe>  
          
        </div>
      </div>
    </section>

    {% include footer.html no-social-buttons=true %}

    {% include js.html %}

  </body>
</html>

<!-- Terms of Service Layout End -->